.divider {
  margin-top: 6rem;
  margin-left: 6.5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-bottom: 0.9px solid var(--black-color);
}
