.small-post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  height: 26.5rem;
  border-radius: 7px;
  border: 0.761px solid rgba(0, 0, 0, 0.50);
  background: #FFF;
  overflow: hidden;
  /* align-items: center; */
}

.small-post > img {
  width: 42.8rem;
  height: 15.6rem;
}

.small-post-info {
  margin-top: -3rem;
  padding: 4.8rem;
}

.small-post-info > span{
  color: #000;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.7rem;
  letter-spacing: -0.274px;
}

.small-author {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  gap: 1.4rem;
}

.small-author span {
  color: rgba(0, 0, 0, 0.50);
  font-size: .9rem;
  font-weight: 400;
  line-height: 22.844px;
  letter-spacing: -0.16px;
}

.small-post-content {
  margin-top: -8rem;
  padding: 4.8rem;

}

.small-post-content p {
  color: rgba(0, 0, 0, 0.80);
  font-size: .9rem;
  line-height: 1.5rem;
  letter-spacing: -0.206px;
}
