.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-left: 12rem;
  color: var(--black-color);
  font-size: 3.6rem;
  line-height: 5.4rem;
}

