* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --white-color: #fff3ff;
  --black-color: #0c0c0c;
  --gray-color: #f9f9fc;

}

body {
  background-color: #f9f9fc;;
  font-family: "montserrat", sans-serif;

}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  border-radius: none;
}

.margin-uni {
  margin: 0 6rem;
}

.posts-wrapper {
  margin-top: 6rem;
  margin-bottom: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.3rem;
}



